.banner{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
    height: 840px;
    background-size: cover;
    background-position: center;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p{
    font-size: 64px;
    line-height: 92px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    width: 1110px;
}

.banner p span{
    font-size: 36px;
    line-height: 52px;
    font-weight: lighter;
}

@media(max-width:992px){
    .banner{
        padding: 0px 39px 0px 39px;
    }
    .banner p{
        font-size: 48px;
        line-height: 70px;
    } 
    .banner p span{
        font-size: 20px;
        line-height: 29px;
    } 
}
@media(max-width:767px){
    .banner{
        background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true);
        height: 394px;
        background-size: cover;
        padding: 0px 15px 0px 15px;

    }
    .banner p{
        font-size: 32px;
        line-height: 45px;
    } 
    .banner p span{
        font-size: 16px;
        line-height: 22px;
    } 
}
.slogan{
    background: #AA06010D;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.slogan-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.slogan-list img{
    vertical-align: middle;
    width: 84px;
    height: 84px;
    margin-bottom: 24px;
}

.slogan-list span{
    vertical-align: middle;
    font-size: 84px;
    margin-bottom: 24px;
}

.slogan-list li{
    width: 17.4561%;
}
.subtitle{
    font-size: 48px;
    line-height: 70px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.third-title{
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 8px;
}

.content{
    text-align: left;
    font-size: 16px;
    line-height: 24px;
}

@media(max-width:992px){
    .slogan{
        padding-top: 40px;
        padding-bottom: 56px;
        padding-left: 77px;
        padding-right: 76px;
    }
    .slogan li{
        width: 41.4634%;
        margin-bottom: 68px;
    }
    .slogan-list{
        flex-wrap: wrap;
    }
    .subtitle{
        font-size: 32px;
        line-height: 46px;
    }
}
@media(max-width:767px){
    .slogan{
        padding-top: 32px;
        padding-bottom: 40px;
        padding-left: 55px;
        padding-right: 55px;
    }
    .slogan li{
        width: 100%;
        margin-bottom: 40px;
    }
    .subtitle{
        font-size: 24px;
        line-height: 35px;
    }
}
.classic{
    padding-top: 60px;
    padding-bottom: 80px;
}
.classic-list{
    display: flex;
    align-items: center;
    margin-bottom: 32px; 
}
.classic-list p{
    font-style: italic;
    margin-left: 32px;
    margin-right: 32px;
}
.optical{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-1.png?raw=true);
}
.sunglasses{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-2.png?raw=true);
}
.functionals{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-3.png?raw=true);
}
.classic-bg{
    width: 635px;
    height: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.classic li:nth-child(2){
    flex-direction: row-reverse;
}

.classic-list span{
    font-size: 48px;
    margin-right: 22px;
    vertical-align: middle;
}
.sm-show{
    display: none;
}
@media(max-width:992px){
    .classic{
        padding-top: 40px;
        padding-bottom: 56px;
        padding-left: 39px;
        padding-right: 39px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .classic .subtitle{
        margin-bottom: 32px;
        font-size: 28px;
        line-height: 37px;
    }
    .classic-bg{
        width: 390px;
        height: 168px;
    }
    .classic ul{
        display: flex;
        flex-direction: column;
    }
    .classic li:nth-child(2){
        flex-direction: row;
    }
    .classic-list span{
        font-size: 28px;
        margin-right: 8px;
    }
}
@media(max-width:767px){
    .classic{
        padding-top: 32px;
        padding-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .classic .subtitle{
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .classic-list{
        flex-direction: column;
    }

    .sm-hide{
        display: none;
    }
    .sm-show{
        display: block;
    }
    .classic-bg{
        width: 345px;
        height: 134px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .classic-list .subtitle{
        margin-bottom: 0px;
    }
}
.joint-name{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
    height: 705px;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.joint-list{
    display: flex;
    justify-content: space-between;
}

.joint-list li{
    position: relative;
    width: 48.65%;
    height: 455px;
}

.bg{
    background: white;
    position: absolute;
    width: 100%;
    height: 455px;
}

.joint-list p{
    font-size: 72px;
    line-height: 95px;
    font-weight: bold;
    text-align: center;
}
.joint-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 455px;
    position: absolute;
}
.joint-bg{
    width: 100%;
    height: 455px;
    opacity: .5;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.doublea{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
}
.youth{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true);
}

@media(max-width:992px){
    .joint-name{
        height: 452px;
        padding-top: 40px;
        padding-bottom: 56px;
        padding-left: 39px;
        padding-right: 39px;
    }
    .joint-list li{
        width: 47.83%;
        height: 278px;
    }
    .joint-name .subtitle{
        margin-bottom: 32px;
    }
    .bg{
        width: 100%;
        height: 278px;
    }
    .joint-text{
        width: 100%;
        height: 278px;
    }
    .joint-bg{
        width: 100%;
        height: 278px;
        background-size: cover;
        background-position: center;
    }
    .joint-list p{
        font-size: 32px;
        line-height: 43px;
        width: 160px;
        left: 85px;
        top: 117px;
    }
}
@media(max-width:767px){
    .joint-name{
        height: 719px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 32px;
        padding-bottom: 40px;
    }
    .joint-name .subtitle{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 29px;
    }
    .joint-list{
        flex-wrap: wrap;
    }
    .bg{
        width: 100%;
        height: 291px;
    }
    .joint-text{
        width: 100%;
        height: 291px;
    }
    .joint-bg{
        width: 100%;
        height: 291px;
    }
    .joint-list li{
        margin-bottom: 16px;
        width: 100%;
        height: 291px;
    }
    .joint-list p{
        left: 93px;
        top: 124px;
    }
}

.recommend{
    padding-top: 60px;
    padding-bottom: 80px;
}

.recommend-list{
    display: flex;
    justify-content: space-between;
}

.recommend-item{
    width: 25%;
    height: 460px;
    border: 1px solid #DEE2E6;
    box-shadow: 0px 2px 5px gray;
    border-radius: 5px;
    position: relative;
} 

.recommend-item img{
    display: block;
    margin-bottom: 16px;
}

.rec-name{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    display: inline-block;
}

.rec{
    line-height: 24px;
    padding-left: 16px;
    padding-right: 16px;

}

.rec-content{
    height: 100%;
    position: relative;
}

.rec-time{
    font-size: 14px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 16px;
    color: #707070;
    position: absolute;
    bottom: 16px;
}

@media(max-width:992px){
    .recommend{
        padding-top: 40px;
        padding-bottom: 56px;
        padding-left: 39px;
        padding-right: 39px;
    }
    .recommend-list{
        flex-wrap: wrap;
    }
    .recommend-item{
        width: 330px;
        margin-bottom: 32px;
    }
}

@media(max-width:767px){
    .recommend{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 32px;
        padding-bottom: 40px;
    }
    .recommend-item{
        width: 345px;
    }
    .recommend-list{
        justify-content: center;
    }

    .recommend .subtitle{
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 20px;
    }
    .recommend-item img{
        margin-bottom: 16px;
    }
}

.contact{
    background: #AA06010D;
    padding-top: 60px;
    padding: 80px;
}
.contact .container{
    max-width: 730px;
}

.contact p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.contact form{
    width: 100%;
}
.contact-label{
    display: block;
    margin-bottom: 4px;
    line-height: 1.5;
}

.contact-input{
    display: block;
    width: inherit;
    padding-top: 13px;
    padding-bottom: 13px;
    background: #AA06010D;
    margin-bottom: 16px;
    opacity: .5;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 16px;
}

.text-area {
    padding-top: 13px;
    padding-bottom: 99px;
}

.privacy{
    line-height: 1.5;
}

.checkbox-list{
    margin-bottom: 40px;
    display: flex;
    
}

.btn{
    display: block;
    background: #AA0601;
    width: 350px;
    line-height: 1.5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    margin: 0px auto;
    border: 0px;
}

@media(max-width:992px){
    .contact{
        padding-top: 40px;
        padding-bottom: 56px;
        padding-left: 159px;
        padding-right: 159px;
    }

    .contact .subtitle{
        font-size: 32px;
        line-height: 46px;
        margin-bottom: 24px;
    }
    .btn{
        width: 210px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .contact p{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .contact-input{
        margin-bottom: 8px;
    }
    .privacy{
        font-size: 14px;
        line-height: 21px;
    }
    .contact-input{
        font-size: 14px;
        line-height: 21px;
        padding-top: 8px;
        padding-bottom: 9px;
        padding-left: 12px;
    }
    .text-area{
        padding-top: 8px;
        padding-bottom: 72px;
    }
    .checkbox-list{
        margin-bottom: 20px;
    }
}
@media(max-width:767px){
    .contact{
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact .subtitle{
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 20px;
    }
    .btn{
        width: 165px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px;
        line-height: 21px;
    }
    .contact p{
        margin-bottom: 8px;
    }
}