.text-primary{
    color: #650300;
}
.text-Secondary{
    color: #aa0601;
}
.text-white{
    color: white;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


.container{
    max-width: 1110px;
    margin: 0 auto;
}

.title a{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
    width: 80px;
    height: 49px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.header{
    display: flex;
    background: #AA0601;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 29.43px;
    padding-left: 88px;
    padding-right: 88px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: white;
    line-height: 29px;
    padding-left: 64px;
}

@media(max-width:992px){
    .header{
        padding-left: 39px;
        padding-right: 39px;
    }
    .nav a{
        padding-left: 40px;
    }
}

@media(max-width:767px){
    .header{
        flex-direction: column;
        padding: 0px;
        justify-content: center;
    }
    .title a{
        width: 48px;
        height: 29.14px;
        background-size: cover;
    }
    
    .title {
        margin: 0 auto;
        padding-top: 10px;
        margin-bottom: 10.86px;
    }
    .nav{
        flex-wrap: wrap;
        max-width: 767px;
        justify-content: center;
    }
    .nav a {
        border: 1px solid white;
        text-align: center;
        padding: 8px 0px 8px 0px;
    }
    .nav li{
        width: 50%;
    }
}

.footer{
    background: #AA0601;
    padding-top: 32px;
    padding-bottom: 39px;
    color: white;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-nav{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.nav-item{
    margin-right: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav-item a{
    line-height: 1.5;
    text-decoration: none;
    color: white;
}
.sns-list{
    display: flex;
}
.sns-item{
    margin-left: 32px;
}
.contact-list a{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    text-decoration: none;
    color: white;
}
.contact-list a img{
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 16px;
}
.contact-list a p{
    font-size: 36px;
    line-height: 48px;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    border-top: 1px solid #fff;
}
.copyright-link{
    display: flex;
}
.copyright-link li{
    margin-left: 48px;
}

.copyright-link a{
    text-decoration: none;
    color: white;
}

@media(max-width:992px){
    .footer{
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 39px;
        padding-right: 39px;
    }
    .footer-nav{
        margin-bottom: 18px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .nav-item{
        margin-right: 40px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .sns-item{
        margin-left: 24px;
        width: 24px;
        height: 24px;
    }
    .contact-list a{
        margin-bottom: 16px;
    }

    .contact-list a img{
        width: 18px;
        height: 18px;
        margin-right: 11px;
    }
    .contact-list a p{
        font-size: 20px;
        line-height: 26px;
    }
    .footer-copyright{
        padding-top: 24px;
    }

    .copyright-link li{
        margin-left: 24px;
    }
}

@media(max-width:767px){
    .footer{
        padding-top: 25px;
        padding-bottom: 24px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-nav{
        display: none;
    }
    .sns-item{
        margin-left: 24px;
    }
    .sns-item img{
        width: 24px;
        height: 24px;
    }
    .contact-list a{
        margin-bottom: 6px;
    }
    .contact-list a img{
        width: 15px;
        height: 15px;
        margin-right: 6.5px;
    }
    .contact-list a p{
        font-size: 16px;
        line-height: 21px;
    }
    .footer-copyright{
        padding-top: 16px;
        flex-wrap: wrap;
    }
    .footer-copyright p{
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 8px;
    }

    .copyright-link{
        flex-direction: column;
    }
    .copyright-link li{
        margin-left: 0px;
        margin-bottom: 8px;
    }
    .copyright-link li p{
        font-size: 14px;
        line-height: 20px;
    }
}